{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter un article</h1>

    {# On inclus le formulaire des articles #}
    {% include 'admin/article/_article_form.html.twig' %}

{% endblock %}

{% block title %}
    Nouvel article
{% endblock %}

